dust_evo_data/
analytic_dust_yields/
snap_check_plots/
observations/data/**
__pycache__/
NH_test.py
paper2_plots.py
.ipynb_checkpoints/
.idea/



*.ipynb
*.pyc
*.e
*.o
*.hdf5
*.csv
*.pickle
*.ewah

*.png
*.pdf
*.eps
*.jpg

/cosmo_check_snap.py
/visual.py

