/src/crc_scripts/observations/data/**
__pycache__/
.ipynb_checkpoints/
.idea/
*_plots/
webbpsf-data/
crc_scripts.egg-info/

*.pyc
*.e
*.o
*.so
*.hdf5
*.csv
*.pickle
*.ewah
*.dat
*.png
*.pdf
*.eps
*.jpg
settings.json

